<mat-card style="text-align: center; margin: 50px;">
    <mat-card-content>
        <mat-card-title style="font-weight: bold;">
            ERP Core system
        </mat-card-title>
        <mat-card-content style="font-weight: bold;">
            welcome to ERP Core system
        </mat-card-content>
        <mat-card-footer>
            <a mat-flat-button href="/dashboard"  style="margin-top: 100px;  color: blue;">
                go to dashboard 
                <mat-icon>home</mat-icon> 
            </a>
        </mat-card-footer>
    </mat-card-content>
</mat-card>