<div class="text-center mt-4 name">
  <b>{{'auth.register' | translate}}</b>
  <p>{{'messages.msg_enter_credentials' | translate}}</p>
  <p [ngStyle]="{'color': successProcess ? 'green' : 'red'}" style="color: red; margin: 20px 0px;">{{error}}</p>
</div>


<div class="wrapper">
  <div class="logo">
    <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="" />
  </div>
  <div class="text-center mt-4 name">
    {{'app.app_name' | translate}}
  </div>
  <form class="p-3 mt-3" (ngSubmit)="register()">

    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" id="firstName" placeholder="{{'auth.first_name' | translate}}"
        [(ngModel)]="credintils.firstName" name="firstName" required />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="text" id="lastName" placeholder="{{'auth.last_name' | translate}}" [(ngModel)]="credintils.lastName"
        name="lastName" required />
    </div>


    <div class="form-field d-flex align-items-center">
      <span class="far fa-user"></span>
      <input type="text" id="userName" placeholder="{{'auth.username' | translate}}" [(ngModel)]="credintils.username"
        name="username" required />
    </div>
    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="email" id="email" placeholder="{{'auth.email' | translate}}" [(ngModel)]="credintils.email"
        name="email" required />
    </div>



    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" id="password" placeholder="{{'auth.password' | translate}}"
        [(ngModel)]="credintils.password" name="password" required />
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="password" id="confirmPassword" placeholder="{{'auth.confirm_password' | translate}}"
        [(ngModel)]="confirmPassword" name="confirmPassword" required />
    </div>

    <div class="text-center mt-3" style="display: flex;">
      <button type="submit" class="btn">Login</button>
      <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30"></mat-progress-spinner>
    </div>

  </form>
  <div class="text-center fs-6">
    <a routerLink="/">{{'app.home' | translate}}</a> - <a routerLink="/login">{{'auth.login' | translate}}</a>
  </div>
</div>