<div class="wrapper">
    <div class="logo">
        <img src="../../../../../assets/img/app-logo.png" alt="" />
    </div>
    <div class="text-center mt-4 name">
        {{'app.app_name' | translate}}
    </div>
    <form class="p-3 mt-3" (ngSubmit)="save()">

        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" id="name" placeholder="{{'common.name' | translate}}"
                [(ngModel)]="model.name" name="name" required />
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="text" id="icon" placeholder="{{'common.icon' | translate}}"
                [(ngModel)]="model.icon" name="icon" required />
        </div>


        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" id="text" placeholder="{{'common.text' | translate}}"
                [(ngModel)]="model.text" name="username" required />
        </div>

        <div class="text-center mt-3" style="display: flex;">
            <button type="submit" class="btn">{{'common.save' | translate}}</button>
            <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="30"></mat-progress-spinner>
            <button type="submit" class="btn btn-warper-cancel">{{'common.cancel' | translate}}</button>
        </div>

    </form>
    <div class="text-center fs-6">
        <a routerLink="/">{{'app.home' | translate}}</a>
    </div>
</div>